{
  "users": {
    "amine": {
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=4$REMPLACEZ_PAR_HASH_REEL",
      "role": "admin",
      "profile": "Administrateur — Direction"
    },
    "nicolas": {
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=4$REMPLACEZ_PAR_HASH_REEL",
      "role": "user",
      "profile": "Analyste — Niveau 2"
    },
    "luc": {
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=4$REMPLACEZ_PAR_HASH_REEL",
      "role": "user"
    },
    "jeremie": {
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=4$REMPLACEZ_PAR_HASH_REEL",
      "role": "user"
    },
    "coralie": {
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=4$REMPLACEZ_PAR_HASH_REEL",
      "role": "user"
    },
    "dominique": {
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=4$REMPLACEZ_PAR_HASH_REEL",
      "role": "user"
    },
    "laurianne": {
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=4$REMPLACEZ_PAR_HASH_REEL",
      "role": "user"
    },
    "sarah": {
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=4$REMPLACEZ_PAR_HASH_REEL",
      "role": "user"
    },
    "christopher": {
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=4$REMPLACEZ_PAR_HASH_REEL",
      "role": "user"
    },
    "louis": {
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=4$REMPLACEZ_PAR_HASH_REEL",
      "role": "user"
    },
    "mathias": {
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=4$REMPLACEZ_PAR_HASH_REEL",
      "role": "user"
    }
  }
}
